{% extends 'base.html' %}

{% block content %}

<form method="post">
  {{ form.hidden_tag() }}
  <div class="form-row align-items-center">
    <div class="col-auto">{{ form['username'](class='form-control mb-2', placeholder="@username") }}</div>
    <div class="col-auto">{{ form['token'](class='form-control mb-2', placeholder="token") }}</div>
    <div class="col-auto">{{ form['submit'](class='btn btn-success mb-2') }}</div>
  </div>
</form>
<hr>

<div class="list-group">
  {% for account in accounts %}
  <a href="{{ url_for('spaces', account_id=account["id"]) }}" class="list-group-item list-group-item-action flex-column align-items-start">
    <div class="d-flex w-100 justify-content-between">
      <h5 class="mb-1">{{ account["username"] }}</h5>
      <small>{{ account["created_at"] }}</small>
    </div>
  {% endfor %}
  </a>
</div>

{% endblock %}
