{% extends 'base.html' %}

{% block title %}Accounts{% endblock %}

{% block content %}

{% if username %}
<h4>@{{ username }}</h4>
<hr>
{% endif %}

{% if spaces  %}
<div class="row d-flex justify-content-center">
  {% for space in spaces %}
    <div onclick="location.href='{{  space.url }}'" class="list-group-item list-group-item-action flex-column align-items-start" style="max-width: 40rem;">
    <div class="d-flex w-100 justify-content-between">
      <h6 class="mb-1">{{ space.title }}</h6>
      <div>
        {% if space.ended_at %}
        <small>{{ space.started_at.strftime('%a %d %b, %H:%M')}}</small>
        {% else %}
        <small class="text-info">{{ space.scheduled_at.strftime('%a %d %b, %H:%M')}}</small>
        {% endif %}
      </div>
    </div>

    {% if space.ended_at %}
    <small><p class="mb-1">{{ space.ended_at - space.started_at}}, {{ space.participant_count}} people</p></small>
    {% else %}
    <small><p class="mb-1">State: {{ space.state}}</p></small>
    {% endif %}

    {% if not username %}
    <small><p class="mb-1">@{{space.account.username}}</p></small>
    {% endif %}


  </div>
  {% endfor %}
</div>
{% else %}
<p>No spaces for this account found.</p>
{% endif %}


{% endblock %}

